* {
	margin: 0;
}

html, body {
	height: 100%;
}

h1, h2, h3,h4, h5, h6, p {

	margin-bottom: 20px;
}

.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.subSect {
	height: 50%;
	background-color: white;
}

.sectOne{
	background-image: url("about1.jpg"); 
}

.sectTwo{
	background-image: url("about2.jpg");
}	

.sectThree{
	background-image: url("about3.jpg");
}

.partOne{
	background-image: url("clipart1.png");
	background-repeat: no-repeat;

}

.partTwo{
	background-image: url("clipart2.png");
	background-repeat: no-repeat;
}

.partOne p {
	height: 100%;
	width: 50%;
	background: white;
	margin-left: auto;
	padding: 120px 70px;
	font-family: Candara;
	font-size: 130%;
	text-align: justify;
}

.partTwo p {
	height: 100%;
	width: 50%;
	background: white;
	margin-left: auto;
	padding: 170px 70px;
	font-family: Candara;
	font-size: 130%;
	text-align: justify;
}
