*{
	margin: 0px;
}

#nav {
	height: 100%;
	background: url("index.jpg");
	background-size:  cover;
	background-repeat: no-repeat;
}

#nav_wrapper {
	width: 300px;
	height: 65px;
	background: #016f58;
	margin-right: auto;
	margin-left: auto;
	margin-top: 340px;
	opacity: 0.7;
	border-radius: 05%/15%;
}

#nav_wrapper ul li {
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 18px;
	margin-top: 5px;
}

#nav_wrapper a {
	color: white;
	text-decoration: none;
	font-family: Eras Medium ITC;
	font-size: 20px;

}

#nav_wrapper ul li :hover{
	background: #92a8d1;
	border-radius: 03px;
	transition: all 0.45s;
}