<html>
	<head>
		<title>Ele God</title>
		<link rel="stylesheet" type="text/css" href="explore.css" media="screen" />
    <link rel="import" href="nav.html">
	</head>

	<body>

    <% include partials/nav.ejs %>

        
		<div class="gallery">
  			<a target="_blank" href="#">
   		 	<img src="explore1.jpg" alt="History" width="300" height="200">
  			</a>
  			<div class="desc">History</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore2.jpg" alt="Stories" width="300" height="200">
  			</a>
  			<div class="desc">Stories</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore3.jpg" alt="Novels" width="300" height="200">
  			</a>
  			<div class="desc">Novels</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore4.jpg" alt="Movies" width="300" height="200">
  			</a>
  			<div class="desc">Movies</div>
		</div>

<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore5.jpg" alt="Types of Species" width="300" height="200">
  			</a>
  			<div class="desc">Types of Species</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore6.jpg" alt="Albums" width="300" height="200">
  			</a>
  			<div class="desc">Albums</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore7.jpg" alt="Life Style" width="300" height="200">
  			</a>
  			<div class="desc">Life Style</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore8.jpg" alt="Located Forests" width="300" height="200">
  			</a>
  			<div class="desc">Located Forests</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore9.jpg" alt="Zoo and Parks" width="300" height="200">
  			</a>
  			<div class="desc">Zoo and Parks</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore10.jpg" alt="Short Stories" width="300" height="200">
  			</a>
  			<div class="desc">Short Stories</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore10.5.jpg" alt="Sculptures" width="300" height="200">
  			</a>
  			<div class="desc">Sculptures</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore11.jpg" alt="Temple Elephants" width="300" height="200">
  			</a>
  			<div class="desc">Temple Elephants</div>
		</div>

		<div class="gallery">
  			<a target="_blank" href="#">
    		<img src="explore12.jpg" alt="Meuseums" width="300" height="200">
  			</a>
  			<div class="desc">Meuseums</div>
		</div>

	</body>
</html>