<html>

<head>
	<title>Ele God</title>

		<link rel="stylesheet" type="text/css" href="index.css" media="screen" />
		<link rel="import" href="nav.html">
</head>

<body>
 
	<% include partials/nav.ejs %>

	<div id = "nav"><br>
		<div id = "nav_wrapper"><br>	
			<ul>
				<li><a href="/explore">Explore</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>	
	</div>

</body>

</html>
