<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "nav.css" />
</head>
<body>
<nav>
<a href="/">Home</a>
<a href="/explore">Explore</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
</nav>
</body>
</html>